[submodule "greenlet"]
	path = greenlet
	url = https://github.com/python-greenlet/greenlet.git
[submodule "gevent"]
	path = gevent
	url = https://github.com/SiteSupport/gevent.git
[submodule "libevent"]
	path = libevent
	url = https://github.com/libevent/libevent.git
